{% extends 'portal_app/_base.html' %}
{% load static %}
{% block content %}

        <div class="ad-mockup">
            This is a mockup add
        </div>

            <div class="card">
                <div class="card-content">
                    <img src="{% static 'img/block.jpg' %}" alt="ImageNotFound">
                    <h3>Elements Block</h3>
                    <a href="https://play.famobi.com/element-blocks" target="_blank" class="btn">Play Now</a>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <img src="{% static 'img/pirate.jpg' %}" alt="ImageNotFound">
                    <h3>Pirate Cards</h3>
                    <a href="https://play.famobi.com/pirate-cards" target="_blank" class="btn">Play Now</a>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <img src="{% static 'img/moto.jpg' %}" alt="ImageNotFound">
                    <h3>Moto X3M Pool Party</h3>
                    <a href="https://play.famobi.com/moto-x3m-pool-party" target="_blank" class="btn">Play Now</a>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <img src="{% static 'img/zoom.jpg' %}" alt="ImageNotFound">
                    <h3>Zoom BOOM</h3>
                    <a href="https://play.famobi.com/zoo-boom" target="_blank" class="btn">Play Now</a>
                </div>
            </div>
          
{% endblock %}